/** FONT ISNTALLATION**/

@font-face{

font-family:Dense;
 src:url(file:///C:/Users/aviadh/Documents/Websites/crossfit/CrossfitVer3/fonts/Dense-Regular.otf);

}
body {
    overflow: hidden;
}
.header {
    height: 1%;
    margin-top: 2%;
    background: #1A1A1A;
}
.logopic {
    margin: -2%;
    width: 35%;
    height: auto;
    float: right;
}
.nav-bar {
    margin-top: 20%;
    height: 100%;
    color: #ffffff;
}
.carousel {
    margin-top: -5%;
}
.carImg {
    background-image: url(http://xn--gebzbbce.co.il/images/ajax_load.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    margin-top: -17%;
    position: relative;
    z-index: -999;
    width: 100%;
    -webkit-filter: sepia(70%);
    -moz-filter: sepia(70%);
    -ms-filter: sepia(70%);
    -o-filter: sepia(70%);
    filter: sepia(70%);
}
.overlayText {
    margin-top: -22%;
    background-color: rgba(204, 153, 51, 0.4);
}
h1#title {
    color: white;
    font-family: Dense;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(204, 153, 51, 0.4);
    font-size: 6vw;
    padding: 0;
    margin: 0;
}
h2#title {
    margin-top: -2%;
    color: white;
    font-family: Dense;
    font-size: 5vw;
}
button#overlay {
    background: transparent;
    color: white;
    border: 2px solid white;
    font-family: Dense;
    font-size: 2vw;
    margin: 0;
    margin-top: -10%;
    margin-bottom: -10%;
}
.foot {
    margin-top: 4%;
}
.footImg {
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
@media only screen and (max-width: 480px) {}